$daughter:'Architects Daughter', cursive;
$darkPurple: #796891;
$lightPurple: #cebfe2;

.body {
  background-color: #e6dff0;
  font-family: $daughter;
}

.container {
  width: 70%;
}

.container-fluid {
  background-color: $darkPurple;
  h1 {
    color: white;
    text-align: left;
  }
}

ol, ul {
  list-style: upper-roman;
  font-size: 30px;
  li{
    color: $darkPurple;
  }
  h4 {
    color: black;
    font-size: 23px;
  }
  h3 {
    font-size: 30px;
  }
}



h1 {
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 25px;
}

.new-button {
  background-color: $darkPurple;
  color: white;
  margin-top: 15px;
}

.save-button {
  background-color: $lightPurple;
}

label {
  font-size: 18px;
}

.labels {
  font-weight: bold;
}

.question-content {
  background-color: $lightPurple;
  width: 100%;
  padding: 10px 5% 10px 5%;
  border-radius: 13px;
}


@import "ember-bootstrap/bootstrap";
