<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{#link-to 'index'}}<h1 id="home-link>">Message Board</h1>{{/link-to}}
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
