<h1>All Questions</h1>
<ol>
{{#each model.questions as |question|}}
     {{#link-to 'question' question.id}}{{question-tile question=question destroyQuestion="destroyQuestion" update="update"}}{{/link-to}}
{{/each}}
</ol>

{{new-question saveQuestion="saveQuestion"}}
