<h2>All Questions</h2>
<ol>
{{#each model.questions as |question|}}
     {{#link-to 'question' question.id}}{{question-tile question=question destroyRental="destroyRental"}}{{/link-to}}
{{/each}}
</ol>

{{new-question saveQuestion="saveQuestion"}}
