<h2> All Questions </h2>
<ul>
{{#each model.questions as |question|}}
     {{#link-to 'question' question.id}}{{question-tile question=question destroyRental="destroyRental"}}{{/link-to}}
{{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
